// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: $container-max-mobile;
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $bp-medium) {
    max-width: $container-max-tablet;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @media (min-width: $bp-large) {
    max-width: $container-max-desktop;
  }

  @media (min-width: $bp-xlarge) {
    max-width: $container-max-wide;
  }
}

footer {
  margin-bottom: $spacing-lg;
}
